<h1> Activity Totals by Type </h1>
 <div class="card" style="width: 18rem;">
<table class="table">
  <thead>
  <tr>
      <th scope="col">Type</th>
      <th scope="col">Duration</th>
      <th scope="col">Sets</th>
     </tr>
     </thead>
     <tbody>
        <% grouped = @daily_activities.group_by { |daily_activity| daily_activity.sport_type.name } %>
        <% grouped.each do |type_name, activities| %>
        <tr>
        <td><%= type_name %></td>
        <td><%= activities.sum(&:duration) %></td>
        <td><%= activities.sum(&:set) %></td>
      </tr>
    <% end %>
     </div>
  
  </tbody>
</table>
