<h1> Activity Totals by Type </h1>
<table>
  <tr>
    <th>Type</th>
    <th>Total Duration</th>
     <th>Total Sets</th>
     </tr>
     </thead>
     <tbody>
        <% grouped = @daily_activities.group_by { |daily_activity| daily_activity.sport_type.name } %>
        <% grouped.each do |type_name, activities| %>
        <tr>
        <td><%= type_name %></td>
        <td><%= activities.sum(&:duration) %></td>
        <td><%= activities.sum(&:set) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
